html {
  text-align: center;
}

a {
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  text-align: center;
  width: 33.33%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

html {
  margin: 0 auto;
  width: 700px;
}

a:visited { 
  text-decoration: none;
 }